
# Build artifacts
*.vsidx
*.lock
*.db
*.db-shm
*.db-wal
*.opendb
*.pdb
*.log
*.recipe
*.tlog
*.obj
*.pch
*.sbr
*.iobj
*.lib
*.bsc
*.ipdb
*.idb
*.ipch
*.exp
*.map
*.res
*.ilk
*.suo
*.bin

# Build output directories
GameGuru Core/Build/
GameGuru Core/Guru-WickedMAX/Wicked-MAX/

# Intermediate directories
**/x64/Debug/RC*
**/x64/Release/RC*
**/*.vcxproj.FileListAbsolute.txt
**/*.vcxproj.user
**/enc_temp_folder/

# Old intermediate directories (pre-split obj files)
**/DarkSDK/*/Release/
**/DarkSDK/*/Debug/
**/DarkSDKMore/*/x64/Release/
**/DarkSDKMore/*/x64/Debug/

# VS directories
.vs/
**/.vs/

# Nupkg/package files
*.nupkg
*.zip
**/nupkg/

# EOS SDK binaries
GameGuru Core/SDK/EOS-SDK/Bin
GameGuru Core/SDK/EOS-SDK/Tools
GameGuru Core/SDK/EOS-SDK/Include

# Misc files at repo root
SharingScripts/
4-CopyGoodScriptsToBuildArea.bat
AI-CompileBuildDeployJustUPLOAD.bat
How To Run The Wizbang Workshop Updates Checker.txt
GameGuru Core/UseENCRYPTIONANDSECURITYCODES.bat
GameGuru Core/UseNONE.bat
GameGuru Core/CopyBUILDtoSTEAMandUPLOAD.bat
